<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.protrainner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProTrainner">
        <activity android:name=".activity.SettingTambahHargaTrainerActivity"></activity>
        <activity android:name=".activity.SettingHargaTrainerActivity" />
        <activity android:name=".activity.EditDataHargaActivity" />
        <activity android:name=".PermintaanActivity" />
        <activity android:name=".activity.DetailMemberList_Connected" />
        <activity android:name=".activity.OutFtlPendinginanActivity" />
        <activity android:name=".activity.OutFtlIntiActivity" />
        <activity android:name=".activity.OutFtlPemanasanActivity" />
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity android:name=".activity.MemberPengukuranDetailActivity" />
        <activity android:name=".activity.MemberPengukuranActivity" />
        <activity android:name=".activity.PengukuranDetailActivity" />
        <activity android:name=".activity.PengukuranInputActivity" />
        <activity android:name=".activity.EditDataParQMemberActivity" />
        <activity android:name=".activity.EditDataTrainerActivity" />
        <activity android:name=".activity.EditDataMemberActivity" />
        <activity android:name=".activity.PengukuranActivity" />
        <activity android:name=".activity.MemberOutFtlActivity" />
        <activity android:name=".activity.OutFtlDetailActivity" />
        <activity android:name=".activity.OutFtlActivity" />
        <activity android:name=".activity.FtlTrainer4Activity" />
        <activity android:name=".activity.FtlTrainer3Activity" />
        <activity android:name=".activity.FtlTrainer2Activity" />
        <activity android:name=".activity.FtlTrainer1Activity" />
        <activity android:name=".activity.DetailMemberListActivity" />
        <activity android:name=".activity.DetailMemberList2Activity" />
        <activity android:name=".activity.DetailTrainerListActivity" />
        <activity android:name=".activity.DetailPriceMemberActivity" />
        <activity android:name=".activity.TrainerListActivity" />
        <activity android:name=".activity.WsMemberActivity" />
        <activity android:name=".activity.WsTrainerActivity" />
        <activity android:name=".activity.BusinessPlanActivity" />
        <activity android:name=".activity.BusinessPlanInputActivity" />
        <activity android:name=".activity.MemberListActivity" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".activity.weekly_schedule_member" />
        <activity android:name=".activity.weekly_schedule_trainer" />
        <activity android:name=".activity.input_weekly_schedule" />
        <activity android:name=".activity.DetailPriceListMemberActivity" />
        <activity android:name=".activity.PriceListMemberActivity" />
        <activity android:name=".activity.FormTrainerActivity" />
        <activity android:name=".activity.FormMemberActivity" />
        <activity android:name=".activity.HomeTrainerActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>